//@import '../../scentbird-colors.scss';

$white: #ffffff;
$black: #000000;

$primary-text: #ff408e;

$primary-background-color: #ff458f;
$primary-border-color: #ff217a;

$border-grey: #979797;
$text-error: #ff0000;
$text-error-lite: #fd6464;

$placeholder: #9b9b9b;
$input-background: #fafafa;
$input-borer: #e6e6e6;

$credit-card-text: #299501;
$secure-lock: #dddddd;
